<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>Hello <%= UserName %>!</h1>
    <p>Welcome to Rental Rides Platform.</p>
    <p>
      This is affordable and reliable platform for renting cars. We are excited
      to have you on board.
    </p>
    <p>
      If you have any questions, feel free to contact us at: bkemboi@gmail.com.
    </p>
    <p>Best regards,<br />Brian Kemboi, CEO @Rental Rides</p>
  </body>
</html>
